.card-container ::ng-deep .ant-tabs-card .ant-tabs-content {
    margin-top: -16px;
    height: 120px;
  }
  
  .card-container ::ng-deep .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
    padding: 16px;

  }
  
  .card-container ::ng-deep .ant-tabs-card > .ant-tabs-nav::before {
    display: none;

  }
  
  .card-container ::ng-deep .ant-tabs-card .ant-tabs-tab {
    background-color: transparent;
    color: #6b7280; /* Gray text for inactive tab */
    padding: 8px 16px;
    border-radius: 9999px; /* Fully rounded corners (rounded-full) */
    border: 1px solid transparent;
    margin-right: 8px; /* Slight spacing between tabs */
    font-weight: 500;
  }
  
  .card-container ::ng-deep .ant-tabs-card .ant-tabs-tab-active {
    background-color: rgba(44, 82, 245, 0.1); /* Light blue background */
    color: rgba(44, 82, 245, 1); /* Blue text color for active tab */
    border-radius: 9999px; /* Fully rounded */
    border: 1px solid rgba(44, 82, 245, 1); /* Blue border for active tab */
  }
  .card-container ::ng-deep .ant-tabs-card .ant-tabs-nav-list {
    border-radius: 9999px; 
    border: 1px solid #6b7280;
    color : #475569;
  }
  
  .card-container ::ng-deep .ant-tabs-card .ant-tabs-tab:hover {
    background-color: transparent; /* No hover effect */
    color: #6b7280;
  }


  /* table */

  .search-box {
    padding: 8px;
  }

  .search-box input {
    width: 188px;
    margin-bottom: 8px;
    display: block;
  }

  .search-box button {
    width: 90px;
  }

  .search-button {
    margin-right: 8px;
  }

  /* modal */
  .ant-modal-header {
    padding: 16px 24px;
    color: white;
    border-bottom: 1px solid #f0f0f0;
    border-radius: 2px 2px 0 0;
}